* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url(./back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: Roboto;
  position: relative;
}
.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.inputBox {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.cardAdder {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.addTitle {
  font-size: 30px;
  font-weight: 1000;
}
.tallinp {
  resize: none;
  width: 100%;
  padding: 10px;
  height: 200px;
  border-radius: 7px;
}
.select {
  width: 100%;
  height: 45px;
  text-align: start;
  padding-left: 10px;
  border-radius: 7px;
  font-size: 17px;
}
input {
  width: 100%;
  height: 45px;
  border-radius: 7px;
  text-align: start;
}
.longbtn {
  background-color: black;
  border: none;
  border-radius: 7px;
  margin-top: 30px;
  height: 40px;
  color: white;
}
.container {
  margin-top: 20px;
  display: flex;
  /* display: none; */
  width: 1400px;
  align-items: start;
  gap: 20px;
  justify-content: space-evenly;
}
.card {
  /* position: fixed; */
  background-color: #ebecf0;
  border-radius: 10px;
  padding: 10px;
  width: 330px;
  height: auto;
  padding-bottom: 10px;
}
.title {
  display: flex;
  font-size: 23px;
  font-weight: 900;
  gap: 20px;
  margin-top: 5px;
  margin-bottom: 11px;
}
.count {
  font-size: 23px;
  color: rgb(0, 0, 0, 0.3);
}
.btn {
  margin-top: 13px;
  background-color: #ebecf0;
  /* background: none; */
  width: 100%;
  height: 34px;
  border-radius: 7px;
  border: none;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
}
.btn:hover {
  background-color: #d5d6da;
}
.cardContent {
  width: 250px;
  margin-left: 10px;
  display: flex;

  flex-direction: column;
  gap: 14px;
}
.cardTitle {
  font-size: 20px;
  font-weight: bolder;
}
.cardPrior {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
}
.check {
  border: 1px solid black;
  border-radius: 48%;
  width: 25px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background-size: cover;
  /* background-color: black;
  color: white; */
}
.checkBox {
  border-radius: 50%;
  width: 20px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgray;
  border-radius: 12px;
  width: 25px;
  height: 25px;
  margin-bottom: 6px;
}
.icon:hover {
  background-color: gray;
}
.innerCard {
  background-color: white;
  border-radius: 7px;
  display: flex;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";

  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.styles {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 48%;
  width: 21.5px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#clock {
  width: 100%;
  text-align: center;
  font-size: 100px;
  margin-top: 20px;
}

.clock {
  height: 100px;
  color: white;
  font-size: 100px;
  font-family: sans-serif;
  line-height: 100px;
  display: flex;
  position: relative;
  /*background: green;*/
  overflow: hidden;
  text-align: center;
  width: 100%;
  justify-content: center;
}

/* .clock::before,
.clock::after {
  content: "";
  width: 7ch;
  height: 3vh;
  /* width: 100px;
  width: 50px; */

/* position: absolute;
  z-index: 2;
} */
*/ .clock::after {
  bottom: 0;
}

.clock > div {
  display: flex;
}

.tick {
  line-height: 17vh;
}

.tick-hidden {
  opacity: 0;
}
/* 
.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-5vh);
  }
} */
